* {
  margin: 0%;
}

body {
  /* border: red solid 2px; */
  height: 100%;
  background-color: #dddddd;
}

header {
  /* background-color: chartreuse; */
  /* border: blue solid 2px; */
  background-color: #4d4f53;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.title {
  /* border: green solid 2px; */
  margin-top: 5%;
}
.list-icon,
.camera-icon,
.shares-icon {
  height: 4vh;
  width: 3vw;
  margin-right: 5%;
  
}

h3 {
  color: black;
}

h3:hover {
  color: #8c1515;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.left-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* border: red solid 3px; */
  width: 50vw;
  margin-bottom: 2%;
}

.header-img {
  height: 14vh;
  width: 12vw;
}

.right-info {
  margin-right: 2%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  /* border: orange solid 5px; */
  margin-top: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: #dddddd; */
}

h1 {
  border: blue solid 2px;
  width: 100%;
  margin-bottom: 5%;
  margin-left: 3%;
}

.fighter-info {
  border: pink solid 2px;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: #8c1515; */
}

.fighters-row-one {
  border: blue solid 2px;
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  width: 100vw;
}

.fighters-row-two {
  margin-top: 2vh; 
  border: green solid 2px;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.fighter-details {
  height: 100%;
  width: 23vw;
  border: red solid 2px;
  /* margin: 10%; */
}