* {
  margin: 0%;
}

body {
  border: red solid 2px;
  height: 100vh;
}

header {
  border: blue solid 2px;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.title {
  border: green solid 2px;
  margin-top: 5%;
}

.shares-icon {
  height: 6vh;
  width: 4vw;
}

.list-icon {
  height: 6vh;
  width: 4vw;
}

.left-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* border: red solid 3px; */
  width: 50vw;
  margin-bottom: 2%;
}

.header-img {
  height: 14vh;
  width: 12vw;
}

.right-info {
  margin-right: 2%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  border: orange solid 2px;
}

.fighter-info {
  border: black solid 2px;
}